<div class="welkomtext">
  <link href="//db.onlinewebfonts.com/c/c8e8fcd5d85d9b587022fe0a79809b73?family=Friz+Quadrata" rel="stylesheet" type="text/css"/> 
<h1 style="position: absolute; text-align: center; left:27.8%; top:-3%;">Welkom bij de Tegenstander Analyse Tool!</h1>
</div>
<div class="welkomtext2">
<h3 style="position: absolute; text-align: center; left:24.9%; top:6%;">Vul hieronder de summoner names van de te analyseren spelers in!</h3>
</div>
  <app-home></app-home>

<app-button></app-button>