<div class='my-legend' style='position:absolute; top:0.3%; left:18.6%; height:13%; width:63%;'>
  <div class='legend-title'>Hoe erg is het?</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:green; '></span>Lachtertje</li>
        <li><span style='background:gold; '></span>Niet best</li>
        <li><span style='background:orange;'></span>Gemiddeld</li>
        <li><span style='background:red;'></span>Gevaarlijk</li>
        <li><span style='background:black;'></span>Banworthy</li>
      </ul>
    </div>
</div>