<!--
In de legenda component maken we de gevaarlijkheidsmeter aan. Wanneer iets geclassificeerd wordt in een gevaarlijkheidsklasse is dat arbitrair en niet gebaseerd op data.
-->
<div class='my-legend' style='position:absolute; top:0.3%; left:17.5%; height:13%; width:63%;'>
  <div class='legend-title'>Gevaarniveaus</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:green; '></span>Lachertje</li>
        <li><span style='background:gold; '></span>Niet best</li>
        <li><span style='background:orange;'></span>Gemiddeld</li>
        <li><span style='background:red;'></span>Gevaarlijk</li>
        <li><span style='background:black;'></span>Banworthy</li>
      </ul>
    </div>
</div>